@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  color: #434343;
  line-height: 24px;
  font-family: "Microsoft YaHei", Verdana, Arial;
  overflow-x: hidden;
  max-width: 1920px;
}

ul,
li {
  list-style: none outside none;
}

a {
  text-decoration: none;
  border: none;
  color: #fff;
}

img {
  border: none;
  vertical-align: middle;
}

input {
  vertical-align: middle;
  outline: none;
}

table {
  border-collapse: collapse;
}

button {
  border: 0;
  outline: none;
  cursor: pointer;
}

i {
  font-style: normal;
}

.sc {
  color: #b30bf1 !important;
}

.sc2 {
  color: red;
}

.mb30 {
  margin-bottom: 30px;
}

.w1200 {
  width: 1200px;
  margin: 0 auto;
}

.w1100 {
  width: 1100px;
  margin: 0 auto;
}

.w1000 {
  width: 1000px;
  margin: 0 auto;
}

.w900 {
  width: 900px;
  margin: 0 auto;
}

.mb150 {
  margin-bottom: 180px;
}

.mb160 {
  margin-bottom: 215px;
}

.red {
  color: red;
}

.c-orange {
  color: #ff4e00 !important;
  padding-left: 16px;
}

/* common==========================================*/
html {
  max-width: 1920px;
  margin: 0 auto;
}

body {
  max-width: 1920px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 130px;
  position: relative;
  z-index: 30;
}

header .top {
  background-color:#4db7f4 ;
  width: 100%;
  height: 50px;
  line-height: 50px;
}

header .top li {
  float: left;
}

header nav {
  background-color: #fff;
  height: 80px;
  width: 100%;
}

header nav ul {
  height: 100%;
}

header nav li {
  float: left;
  margin: 0 12px;
  padding: 28px 0px 0;
}

header nav li a {
  color: #ccac69;
  font-size: 20px;
  display: block;
}

header nav li.active {
  padding-top: 16px;
  border-bottom: 8px solid #ff8c00;
  transition: 0.3s;
  padding-bottom: 28px;
}

header nav li.active a {
  color: #ff8c00;
}

header h1 {
  float: left;
}

header h1 img {
  margin-top: -44px;
}

header h1 .logo_mobile {
  display: none;
}

/* 登录 登出 免费开户 */
.login input {
  color: #fff;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: none;
  margin: 0 15px;
  cursor: pointer;
  padding: 0 15px;
  background-color: #564017;
  font-size: 18px;
}

#regBtn {
  background-color: #ffe401;
  color: #5b450b;
}

.cont {
  width: 1242px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}

.items {
  display: none;
}

.items.active {
  display: block;
}

body {
  font-size: 18px;
  max-width: 1920px;
  font-family: "Microsoft YaHei", Verdana, Arial;
}

section {
  display: block;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  border: none;
  color: #fff;
}

img {
  border: none;
  vertical-align: middle;
}

input,
button {
  vertical-align: middle;
  outline: none;
}

header,
footer,
article,
section,
em,
figure,
figcaption {
  display: block;
  margin: 0;
  padding: 0;
}

strong {
  display: inline-block;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  width: 100%;
  /* height: 690px; */
  /*background: url(images/banner.jpg) no-repeat center;*/
}

.main-body {
  position: relative;
  width: 100%;
  /*background: #e5e2dd url(images/bg.jpg) no-repeat center top;*/
}

p {
  line-height: 1.8;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.cfx {
  zoom: 1;
}

.cfx:after {
  display: block;
  visibility: hidden;
  clear: both;
  overflow: hidden;
  height: 0;
  content: ".";
}

/* #滚动条
=========*/
::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track-piece {
  margin: -2px;
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  min-width: 150px;
  min-height: 150px;
  border-radius: 10px;
  background: #aaa;
}

::-webkit-scrollbar-thumb:vertical:hover {
  background: transparent;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: transparent;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.white-bg {
  background: #fff !important;
}

.gray-bg {
  background: #f8faff !important;
}

.text-center {
  text-align: center;
}

.space-1 {
  height: 10px;
}

.space-2 {
  height: 20px;
}

.space-3 {
  height: 30px;
}

.space-4 {
  height: 40px;
}

.space-5 {
  height: 50px;
}

.space-6 {
  height: 60px;
}

li {
  position: relative;
}

article {
  padding: 10px 0;
  position: relative;
}

/* ------------- 页首 -------------  */
.nav-bg {
  width: 100%;

  background: url(../images/n-top2.png) center no-repeat;
  height: 142px;
  position: absolute;
  top: 0px;
  z-index: 9999;
  transition: all 0.5s;
}

.nav-bg .cont {
  width: 100%;
  margin: 0 auto;
}

.nav-bg li {
  display: inline-block;
  height: 24px;
  width: 19%;
  margin-top: 10px;
  cursor: pointer;
}

.nav-bg li:nth-child(1) {
  background: url(../images/n1.png) right no-repeat;
}

.nav-bg li:nth-child(2) {
  background: url(../images/n2.png) center no-repeat;
}

.nav-bg li:nth-child(3) {
  background: url(../images/logo.png) center no-repeat;
  background-size: 25%;
  height: 40px;
  position: relative;
  top: 4px;
}

.nav-bg li:nth-child(4) {
  background: url(../images/n3.png) center no-repeat;
}

.nav-bg li:nth-child(5) {
  background: url(../images/n4.png) left no-repeat;
}

.carousel-inner img {
  width: 100%;
}

.carousel-indicators li {
  background: url(../images/circle.png) center no-repeat !important;
  width: 14px !important;
  height: 14px !important;
  border: none !important;
  position: relative;
  top: -10px;
  margin: 10px !important;
}

.carousel-indicators li.active {
  background: url(../images/circle2.png) center no-repeat !important;
  width: 38px !important;
  height: 38px !important;
  border: none !important;
  position: static;
}

/* ------------- 导航 -------------  */

#navigation li {
  width: 33%;
  display: inline-block;
  cursor: pointer;
  position: relative;
}

#navigation .tips {
  display: none;
  width: 400px;
  height: 105px;
  margin-top: 10px;
}

#navigation li .gray,
#navigation li .red {
  width: 100%;
  height: 270px;
}

#navigation li:nth-child(1) .gray {
  background: url(../images/a3.png?v=3) top no-repeat;
}

#navigation li:nth-child(2) .gray {
  background: url(../images/a1.png?v=2) top no-repeat;
}

#navigation li:nth-child(3) .gray {
  background: url(../images/a2.png?v=2) top no-repeat;
}

#navigation li .red {
  display: none;
}

#navigation li:nth-child(1) .red {
  background: url(../images/b3.png?v=3) top no-repeat;
}

#navigation li:nth-child(2) .red {
  background: url(../images/b1.png?v=2) top no-repeat;
}

#navigation li:nth-child(3) .red {
  background: url(../images/b2.png?v=2) top no-repeat;
}

#navigation li.active .red {
  display: block;
}

#navigation li.active .tips {
  display: block;
}

#navigation li.active .gray {
  display: none;
}

#navigation li p {
  color: #fff;
  font-size: 16px;
}

/* ------------- 奇幻城宝贝 -------------  */
.girls-bg {
  background: url(../images/qhc-baby.png) no-repeat top center/100% 100%;
  overflow: hidden;
}

#j-banner {
  padding-top: 20px;
}

#carousel {
  width: 100%;
  height: 300px;
  /*display: relative;*/
  margin: 0 auto;
}

#carousel img {
  /*display: hidden; !* hide images until carousel prepares them *!*/
  cursor: pointer;
  /* not needed if you wrap carousel items in links */
}

#j-direction {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}

#j-direction>* {
  display: inline-block;
}

#j-right li,
#j-left li {
  width: 14px;
  height: 24px;
  display: inline-block;
  margin: 0 5px;
  transition: all 1s;
}

#j-right li:nth-child(1) {
  background: url(../images/arrow3.png) no-repeat center;
}

#j-right li:nth-child(2) {
  background: url(../images/arrow2.png) no-repeat center;
}

#j-right li:nth-child(3) {
  background: url(../images/arrow1.png) no-repeat center;
}

#j-left li:nth-child(1) {
  background: url(../images/arrow1.png) no-repeat center;
  transform: rotate(180deg);
}

#j-left li:nth-child(2) {
  background: url(../images/arrow2.png) no-repeat center;
  transform: rotate(180deg);
}

#j-left li:nth-child(3) {
  background: url(../images/arrow3.png) no-repeat center;
  transform: rotate(180deg);
}

#j-desc {
  width: 310px;
  height: 80px;
  text-align: center;
  line-height: 76px;
  border-radius: 80px;
  border: 1px solid #fff;
  margin: 0 25px;
  color: #fff;
  cursor: pointer;
  position: relative;
  top: -5px;
}

.title {
  height: 60px;
}

/* ------------- 美女视频 -------------  */

.girl {
  width: 100%;
  height: 150px;
  display: inline-block;
  margin: 5px;
  overflow: hidden;
  background-size: 100% !important;
}

.girl1 {
  background: url(../images/v1.png) no-repeat center;
}

.girl2 {
  background: url(../images/v2.png) no-repeat center;
}

.girl3 {
  background: url(../images/v3.png) no-repeat center;
}

.girl4 {
  background: url(../images/v4.png) no-repeat center;
}

.girl5 {
  background: url(../images/v5.png) no-repeat center;
}

.girl6 {
  background: url(../images/v6.png) no-repeat center;
}

.girl7 {
  background: url(../images/v7.png) no-repeat center;
}

.girl8 {
  background: url(../images/v8.png) no-repeat center;
}

.girl9 {
  background: url(../images/v9.png) no-repeat center;
}

.girl10 {
  background: url(../images/v10.png) no-repeat center;
}

.swiper-slide>div {
  width: 49%;
  display: inline-block;
  text-align: center;
}

.dark {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: none;
  top: 0px;
  position: absolute;
}

.dark-list {
  text-align: center;
}

.dark-list div {
  display: inline-block;
}

.dark-list .v-bg {
  background: url(../images/v-bg.png) no-repeat center;
  background-size: contain;
  width: 110px;
  height: 42px;
  float: left;
  margin-left: 5px;
  color: #fff;
  overflow: hidden;
}

.dark-list .v-play {
  background: url(../images/v-play.png) no-repeat center;
  background-size: contain;
  width: 42px;
  height: 42px;
  float: right;
  cursor: pointer;
}

.v-bg p {
  text-align: center;
  line-height: 40px;
}

/* ------------- 活动要求 -------------  */

.border {
  border: solid 4px #e8a0e6;
  padding: 4px;
  width: 100%;
  margin: 0 auto;
  border-radius: 15px;
}

.border>div {
  color: #e8a0e6;
  border: solid 2px #e8a0e6;
  border-radius: 10px;
}

.border table {
  border: none;
  width: 100%;
}

.border td {
  border: 1px solid #e8a0e6;
  text-align: center;
  border-radius: 5px;
  padding: 15px 0;
}

table tr:first-child td {
  border-top: 0;
  border-bottom: 0;
}

table tr td:first-child {
  border-left: 0;
}

table tr:last-child td {
  border-bottom: 0;
}

table tr td:last-child {
  border-right: 0;
}

table tr:nth-child(2) td:nth-child(2) {
  border-bottom: 0;
}

#activity p {
  color: #ee84a0;
}

/* ------------- 申请方式 -------------  */

.apply {
  color: #333;
}

.apply .fl,
.apply .fr {
  width: 49%;
}

/* ------------- 活动规则 -------------  */
.footer-bg {
  background: url(../images/qhc-baby.png) no-repeat top center/100% 100%;
  color: #fff;
  padding-bottom: 30px;
}

.footer-bg li {
  line-height: 2;
  /* padding-bottom: 20px; */
}

/* ------------- 手机版 -------------  */

@media screen and (max-width: 450px) {

  .container,
  .cont {
    width: 98% !important;
  }

  .header {
    height: 100%;
    /* padding-top: 2.7rem; */
  }

  .fl,
  .fr {
    float: none !important;
    display: block !important;
    width: 100% !important;
    padding: 10px 0;
  }

  #navigation li {
    display: block;
    width: 100%;
    margin: 20px 0;
    position: relative;
    text-align: center;
  }

  #navigation li img {
    height: 100px;
  }

  #navigation li.active .tips {
    width: 100%;
    background: #fbe8f1;
    background: url(../images/tips2.png);
    background-size: 100% 100%;
    color: #e7679b;
    border-radius: 50px;
    display: block;
    height: 60px;
    padding-top: 15px;
    width: 75%;
    margin: 0 auto;
  }

  #navigation .red,
  #navigation .gray {
    background-size: 45% !important;
  }

  #navigation li p {
    color: #fff;
    font-size: 14px;
    line-height: 41px;
  }

  .footer-bg li {
    font-size: 14px;
  }

  #footer {
    position: absolute;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff !important;
    width: 100%;
    max-width: 1920px;
  }

  article:last-child {
    padding: 0px;
  }

  #j-desc {
    width: 200px;
    height: 40px;
    line-height: 36px;
    margin: 0 5px;
  }

  #j-right li,
  #j-left li {
    margin: 0 2px;
  }

  .carousel-indicators {
    bottom: -10px !important;
  }
}

/* @media screen and (max-width: 400px) {
  .dark-list .v-play {
    width: 100%;
    margin-top: 10px;
    float: none;
  }

  .dark-list .v-bg {
    width: 100%;
    float: none;
  }
} */

.layui-layer-imgbar,
.layui-layer-imguide {
  display: block !important;
}
