@charset "utf-8";
/* reset
========================================== */
*{margin:0; padding:0;box-sizing: border-box;}
body{font-size:16px; color:#fff; line-height:24px; font-family: "Microsoft YaHei",Verdana, Arial; overflow-x:hidden;text-transform: uppercase}
ul, li{list-style: none outside none;}
a{text-decoration:none; border:none;color:#fff;font-size:16px;}
img{border:none;vertical-align:middle;}
input{vertical-align:middle;outline:none;}
table {border-collapse: collapse;}
button{ border:0;outline:none;cursor: pointer}
/* common
========================================== */
.fl{float:left;}
.fr{float:right;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; overflow: hidden; }
.clearfix { zoom:1; }
.cont{width:980px; margin:0 auto;}

.tc{text-align:center !important;}
.clear{zoom:1;}
.clear:after{content:""; display:block; clear:both;}
.row{width: 100%; display: block;}
.row [class*="col-"]{display:inline-block;}
.row .col-xs-4{width:33%;}
.yellow{color:#e37d1d;}

#loginModal *{box-sizing: content-box}
.nb#loginModal .forgetpassword {width: 60px !important; }

body { background:  #000; }

.top{background:rgba(0,0,0, 0.6); width:100%; position:relative; z-index:10;}
.head{height:104px;}
.head .logo, .head .menu{float:left;}
.head .logo{margin:10px 19px 0 0;}
.head .login{float:right;}
.head .login li{display:inline-block;}
.head .login li{display:inline-block; margin-top:12px;}
.head .login input{padding: 20px; font-size: 18px; text-align: center; margin: 10px; cursor:pointer; border: 0px;}
.head .login input:hover{opacity:.8;}
.head .login input#logBtn{background:rgb(255,204,34); color:#000;}
.head .login input#regBtn{background:rgb(51,51,51); color:#fff;}

.sprite-HOT {background-image: url(/images/header/header_spritesheet.png); background-repeat: no-repeat; display: inline-block;width: 28px; height: 15px; background-position: -5px -5px;float: right;position: absolute;top: -16px;left: 32px;}

header { height: 578px; text-align: left; }
header .container { padding: 0 20px; }
header h1 {margin-top: 42px; margin-bottom: 30px; position: relative;text-align: center;z-index: -1 }
header h1 span { width: 882px; height: 500px; position: absolute; display: block; background: url("../images/text2-bg.png") no-repeat; z-index: -1; left: -14px; top: -130px; }
header h1 a { text-indent: -9999px; font-size: 0; }
header p { text-align: center; }
header p:hover img {transition: transform .3s; transform: scale(1.12);}
img.promotion  {
    -webkit-animation: anim-scale 0.5s ease-in infinite alternate;
    animation: anim-scale 0.5s ease-in infinite alternate;
}

nav { height: 70px; background: rgba(0, 0, 0, 0.7); line-height: 70px; }
nav ul { padding: 0 30px; }
nav li { float: left; margin:0 38px;}
nav li:last-child a{ margin:0;}
nav li.active a, nav li:hover a { color: #e1dd10; }

main { margin-top: 20px !important; padding: 20px; background: rgba(0, 0, 0, 0.5); border-radius: 6px; }

footer { background-color: #18110e; border-top: 14px solid #1e1816; height: 76px; }
footer p, footer a { color: #899ea6; line-height: 62px; }

.floating-hot{animation-name: floating-hot;-webkit-animation-name: floating-hot;animation-duration: 1.5s;-webkit-animation-duration: 1.5s;animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;}
@keyframes floating-hot{0%{transform: translateY(0px);}50%{transform: translateY(-4px);}100%{transform: translateY(0px);}}
@-webkit-keyframes floating-hot{0%{-webkit-transform: translateY(0px);}50%{-webkit-transform: translateY(-4px);}100%{-webkit-transform: translateY(0px);}}

/*侧边栏图标闪烁效果*/
.anim-scale{
    -webkit-animation:anim-scale .8s ease-in infinite alternate;
    animation:anim-scale .8s ease-in infinite alternate;
}
@-webkit-keyframes anim-scale {
    0% {
        -webkit-transform:scale(1);
    }
    100% {
        -webkit-transform:scale(1.1);
    }

}
@keyframes anim-scale {
    0% {
        transform:scale(1);
    }
    100% {
        transform:scale(1.1);
    }

}
@media (max-width: 1000px) and (min-width: 100px) {
    .head {
        width: 980px!important;
    }
}
header h1 img {margin-left: -230px;}
.slideDown { animation-name: slideDown; -webkit-animation-name: slideDown; animation-duration: 1s; -webkit-animation-duration: 1s; animation-timing-function: ease-in-out; -webkit-animation-timing-function: ease-in-out; visibility: visible !important; }

@keyframes slideDown { 0% { transform: translateY(-50%); }
    50% { transform: translateY(-8%); }
    65% { transform: translateY(4%); }
    80% { transform: translateY(-4%); }
    95% { transform: translateY(2%); }
    100% { transform: translateY(0%); } }
@-webkit-keyframes slideDown { 0% { -webkit-transform: translateY(-50%); }
    50% { -webkit-transform: translateY(-8%); }
    65% { -webkit-transform: translateY(4%); }
    80% { -webkit-transform: translateY(-4%); }
    95% { -webkit-transform: translateY(2%); }
    100% { -webkit-transform: translateY(0%); } }