@charset "UTF-8";
/*滚动条*/
#scrollbar1 { width: 340px; height: 440px; padding: 20px 5px 20px 20px; background: url("../images/nav-menu-bg.jpg") repeat; }

#scrollbar1 .viewport { width: 298px; height: 400px; overflow: hidden; position: relative; }

/****************高度可改***************/
#scrollbar1 .overview { list-style: none; position: absolute; left: 0; top: 0; }

#scrollbar1 .thumb .end, #scrollbar1 .thumb { background-color: #c1c931; }

#scrollbar1 .scrollbar { position: relative; float: right; width: 5px; background-color: rgba(55, 108, 114, 0.8); }

#scrollbar1 .overview p { font-size: 14px; line-height: 28px; margin-top: 20px; }

#scrollbar1 .overview p:last-child { margin-bottom: 0; }

#scrollbar1 .thumb { width: 5px; cursor: pointer; overflow: hidden; position: absolute; top: 0; left: 0px; }

#scrollbar1 .thumb .end { overflow: hidden; height: 5px; width: 13px; }

#scrollbar1 .disable { display: none; }

.noSelect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }

/*滚动条*/
h2.title { width: 100%; height: 40px; line-height: 40px; background: url("../images/nav-menu-bg.jpg") repeat; font-size: 17px; font-weight: normal; padding-left: 20px; }

.video-box { margin-top: 20px; margin-bottom: 20px; height: 440px; width: 100%; overflow: hidden; }

.photo .title { text-align: center; margin: 30px 15px;background-color: #333; }
.photo .title li { display: inline-block; width: 192px; height: 60px; text-align: center;  font-size: 20px; color: #fff; margin: 0 20px;padding-top: 14px; }
.photo .title li span { display: none}
.photo .title li a { display: inline-block;padding-bottom: 4px;}
.s3 .title li.active a,.s3 .title li:hover a { border-bottom:2px solid  #f37846; }
.all .title li.active a,.all .title li:hover a { border-bottom:2px solid #1f5055; }
.photo .title span { display: inline-block; width: 26px; height: 26px; border-radius: 50%; border: 1px solid #fff; line-height: 26px; margin-right: 5px; vertical-align: middle; }

.items { width: 100%; margin: auto; }
.items .photo-box { padding: 0 10px; }
.s3 .items li { margin: 10px 0; border: 1px solid #f37846; width: 208px; overflow: hidden; display: block; }
.all .items li { margin: 10px 0; border: 1px solid #1f5055; width: 208px; overflow: hidden; display: block; }
.items li img { width: 206px; display: block; }
.items .zoom { position: absolute; width: 100%; height: 100%; left: 0; top: 0; z-index: 2; }
.items .img_block { position: relative; }
.items .col { float: left; width: 210px; margin: 0 9px; }

#lightboxOverlay { position: absolute; top: 0; left: 0; z-index: 9999; background-color: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85); opacity: 0.85; display: none; }

#lightbox { position: absolute; left: 0; width: 100%; z-index: 10000; text-align: center; line-height: 0; font-family: "lucida grande", tahoma, verdana, arial, sans-serif; font-weight: normal; }

#lightbox img { width: auto; height: auto; }

#lightbox img.lb-image { width: 100%; }

#lightbox a img { border: none; }

.lb-outerContainer { position: relative; background-color: white; padding: 8px; *zoom: 1; width: 250px; height: 250px; margin: 0 auto; -webkit-border-radius: 4px; -moz-border-radius: 4px; -ms-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; }

.lb-outerContainer:after { content: ""; display: table; clear: both; }

.lb-loader { position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }

.lb-nav { position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }

.lb-container > .nav { left: 0; }

.lb-nav a { outline: none; }

.lb-prev, .lb-next { width: 49%; height: 100%; background-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"); display: block; }

.lb-prev { left: 0; float: left; background: url(../images/activity/prev.png) left 48% no-repeat; }

.lb-next { right: 0; float: right; background: url(../images/activity/next.png) right 48% no-repeat; }

.lb-dataContainer { margin: 0 auto; padding-top: 5px; *zoom: 1; width: 100%; -moz-border-radius-bottomleft: 4px; -webkit-border-bottom-left-radius: 4px; -ms-border-bottom-left-radius: 4px; -o-border-bottom-left-radius: 4px; border-bottom-left-radius: 4px; -moz-border-radius-bottomright: 4px; -webkit-border-bottom-right-radius: 4px; -ms-border-bottom-right-radius: 4px; -o-border-bottom-right-radius: 4px; border-bottom-right-radius: 4px; }

.lb-dataContainer:after { content: ""; display: table; clear: both; }

.lb-data { padding: 0 10px; color: #bbbbbb; }

.lb-data .lb-details { width: 85%; float: left; text-align: left; line-height: 1.1em; }

.lb-data .lb-caption { font-size: 13px; font-weight: bold; line-height: 1em; }

.lb-data .lb-number { display: block; clear: left; padding-bottom: 1em; font-size: 11px; }

.lb-data .lb-close { width: 35px; float: right; padding-bottom: 0.7em; outline: none; }

.lb-data .lb-close:hover { cursor: pointer; }

@-webkit-keyframes swing { 20% { -webkit-transform: rotate(15deg); transform: rotate(15deg); }
  40% { -webkit-transform: rotate(-10deg); transform: rotate(-10deg); }
  60% { -webkit-transform: rotate(5deg); transform: rotate(5deg); }
  80% { -webkit-transform: rotate(-5deg); transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(0deg); transform: rotate(0deg); } }
@keyframes swing { 20% { -webkit-transform: rotate(15deg); -ms-transform: rotate(15deg); transform: rotate(15deg); }
  40% { -webkit-transform: rotate(-10deg); -ms-transform: rotate(-10deg); transform: rotate(-10deg); }
  60% { -webkit-transform: rotate(5deg); -ms-transform: rotate(5deg); transform: rotate(5deg); }
  80% { -webkit-transform: rotate(-5deg); -ms-transform: rotate(-5deg); transform: rotate(-5deg); }
  100% { -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); } }
.swing { -webkit-transform-origin: top center; -ms-transform-origin: top center; transform-origin: top center; -webkit-animation-name: swing; animation-name: swing; }

.text {
  margin-top: 20px !important;
  padding: 20px 25px 20px 30px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  line-height: 28px;
}
#scrollbar1 h3{
  font-size: 24px;
  color: #e1dd10;
  position: relative;
  border-bottom: 2px solid #fff;
  padding-bottom: 15px;
}
#scrollbar1 h3 em {
  display: block;
  width: 102px;
  height: 5px;
  background-color: #c5c100;
  position: absolute;
  left: 0;
  bottom: -4px;
}
#scrollbar1 .video-info {
  width: 50%;
}
#scrollbar1 p strong {
  display: block;
  font-size: 16px;
  color:#c5c100;
}
#scrollbar1 p span {
  font-size: 12px;
  line-height: 20px;
  display: block;
}
.photo-kinds li{
  float:left;
  width: 310px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 24px;
  margin-right: 5px;
  cursor: pointer;
}
.photo-kinds .s3-photo {
  background: #f37846;
}
.photo-kinds .all-photo {
  background: url("../images/activity/bg.jpg") repeat;
}
.photo-kinds li.on {
  height: 68px;
}
.video-item {
  cursor: pointer;
}

#img-nav .s3 {
  border:2px solid #f37846;
}
#img-nav .all {
  border:2px solid #1c4d52;
}
/*# sourceMappingURL=photo.css.map */
