@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 18px;
  color: #434343;
  line-height: 24px;
  font-family: "Microsoft YaHei", Verdana, Arial;
  overflow-x: hidden;
  max-width: 1920px;
}
ul,
li {
  list-style: none outside none;
}
a {
  text-decoration: none;
  border: none;
  color: #fff;
}
img {
  border: none;
  vertical-align: middle;
}
input {
  vertical-align: middle;
  outline: none;
}
table {
  border-collapse: collapse;
}
button {
  border: 0;
  outline: none;
  cursor: pointer;
}
i {
  font-style: normal;
}
.sc {
  color: #b30bf1 !important;
}
.sc2 {
  color: red;
}
.mb30 {
  margin-bottom: 30px;
}
.w1200 {
  width: 1200px;
  margin: 0 auto;
}
.w1100 {
  width: 1100px;
  margin: 0 auto;
}
.w1000 {
  width: 1000px;
  margin: 0 auto;
}
.w900 {
  width: 900px;
  margin: 0 auto;
}
.mb150 {
  margin-bottom: 180px;
}
.mb160 {
  margin-bottom: 215px;
}
.red {
  color: red;
}
.c-orange {
  color: #ff4e00 !important;
  padding-left: 16px;
}
/* common==========================================*/
html {
  max-width: 1920px;
  margin: 0 auto;
}
body {
  max-width: 1920px;
  margin: 0 auto;
}
header {
  width: 100%;
  height: 130px;
  position: relative;
  z-index: 30;
}
header .top {
  background-color: #ccac69;
  width: 100%;
  height: 50px;
  line-height: 50px;
}
header .top li {
  float: left;
}
header nav {
  background-color: #fff;
  min-height: 80px;
  width: 100%;
}
header nav ul {
  height: 100%;
}
header nav li {
  float: left;
  margin: 0 12px;
  padding: 28px 0px 0;
}
header nav li a {
  color: #ccac69;
  font-size: 20px;
  display: block;
}
header nav li.active,
header nav li:hover {
  padding-top: 16px;
  border-bottom: 8px solid #ff8c00;
  transition: 0.3s;
  padding-bottom: 28px;
}
header nav li.active a,
header nav li:hover a {
  color: #ff8c00;
}
header h1 {
  float: left;
}
header h1 img {
  margin-top: -44px;
}
header h1 .logo_mobile {
  display: none;
}
/* 登录 登出 免费开户 */
.login input {
  color: #fff;
  height: 32px;
  line-height: 32px;
  text-align: center;
  border: none;
  margin: 0 15px;
  cursor: pointer;
  padding: 0 15px;
  background-color: #564017;
  font-size: 18px;
}
#regBtn {
  background-color: #FFE401;
  color: #5B450B;
}
.cont {
  max-width: 1242px;
  margin: 0 auto;
  position: relative;
  z-index: 2;
}
.items {
  display: none;
}
.items.active {
  display: block;
}

ul,
li {
  list-style: none;
}
a {
  text-decoration: none;
  border: none;
  color: #fff;
}
img {
  border: none;
  vertical-align: middle;
}
input,
button {
  vertical-align: middle;
  outline: none;
}
header,
footer,
article,
section,
em,
figure,
figcaption {
  display: block;
  margin: 0;
  padding: 0;
}
strong {
  display: inline-block;
  margin: 0;
  padding: 0;
}
@keyframes bgChange  {
  50% {
    background: url(../img/light1.png) no-repeat center;
  }
}
.header {
  position: relative;
  width: 100%;
  height: 477px;
  background: url(../img/banner2.jpg) no-repeat center;
}
.main-body {
  position: relative;
  color: #fff;
  padding: 1px 0 40px;
  background:  url(../img/main-bg1.jpg) no-repeat center top,url(../img/main-bg.png) no-repeat center 53px;
  background-color: #2e0541;
}

.common-title{
  text-align: center;
  margin: 15px auto;
}

/*活动内容*/
.rule-cont,.main-cont{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.act-info{
  width: 763px;
  height: 215px;
  margin: 0 auto 100px;
  padding: 65px 0 0 170px;
  font-size: 20px;
  line-height: 2;
  background:url(../img/light.png) no-repeat center top;
  -webkit-animation:bgChange .5s infinite ;
  -o-animation:bgChange .5s infinite ;
  animation:bgChange .5s infinite ;
}

.act-cont{
  margin-bottom: 120px;
}
.act-des{
  width: 80%;
  margin: 0 auto 50px;
  font-size: 18px;
  line-height: 2;
}

.act-des span{
  color: #ffff4e;
}
.prize-cont{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.prize-cont li{
   float: left;
   width: 20%;
   height: 200px;
   text-align: center;
   cursor: pointer;
  -webkit-animation: pulse .5s infinite;
  -o-animation: pulse .5s infinite;
  animation: pulse .5s infinite;
}
.prize-cont li p.require1{
  margin-bottom: 20px;
}
.prize-cont li div{
  width: 70%;
  margin: 0 auto;
}
.prize-cont li div>img{
  margin-top: 20px;
}
.get-prize-btn{
  display: none;
}
.prize-cont li:hover .get-prize-btn,
.prize-cont li.active .get-prize-btn{
   display: block;
}
.rule-cont{
  height: 507px;
  max-width: 1100px;
  margin: 0 auto;
  background: url(../img/rule-bg.png) no-repeat center;
  background-size: 1100px;
}


.rule-content {
  max-width: 760px;
  margin: 0 auto;
  color: #fff;
}

/*活动规则*/

.rule-description p {
  position: relative;
  padding-left: 25px;
  text-align: left;
  font-size: 16px;
  color: #b6a1ee;
  line-height: 1.8;
}
.rule-description p.red{
  color: #ffff4e;
}
.rule-description span {
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  text-align: center;
  line-height: 23px;
}
.act-footer {
  height: 150px;
  padding: 20px 0;
  text-align: center;
  color: #fef8ed;
  background: #260037;
}
.act-footer div {
  margin-bottom: 15px;
}

/*弹窗*/
#mymodal{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999999;
  background: rgba(0,0,0,.5);
}
#mymodal .modal-dialog{
   position: absolute;
   top: 50%;
   left:50%;
   margin-left: -286px;
   margin-top: -198px;
   width: 573px;
   height: 386px;
  border-radius: 25px;

}

#mymodal .modal-content{
  height: 100%;
  line-height: 1.5;
  padding: 175px 80px 20px;
  color: #fff;
  font-size: 22px;
  text-align: center;
  background: url(../img/modal-bg.png) no-repeat center;
  background-size: 100% 100%;
}
#mymodal .modal-body{
  margin-bottom: 40px;
}
#mymodal .modal-footer{
  position: relative;
  bottom: 0;
  margin-top: 20px;
  text-align: center;
}
#mymodal .modal-footer button{
  width: 120px;
  height: 39px;
  line-height: 39px;
  border: none;
  border-radius: 0;
  background: url(../img/close-btn.png) no-repeat center;
}
.deposit-cont {
  max-width: 960px;
  margin: 0 auto;
}
.deposit-cont .table-cont {
  padding: 10px;
  border: 2px solid #cfa972;
  margin-bottom: 20px;
}
.deposit-cont table {
  width: 100%;
}
.deposit-cont table thead tr th {
  background: #59493f;
  color: #fff;
  height: 45px;
  text-align: center;
  border-bottom: 1px solid #cfa972;
}
.deposit-cont table thead tr th:not(:nth-last-of-type(1)) {
  border-right: 1px solid #cfa972;
}
.deposit-cont table td {
  height: 78px;
  width: 20%;
  color: #8d5200;
  text-align: center;
  border-bottom: 1px solid #cfa972;
  background: #ffe8be;
}
.deposit-cont table td:not(:nth-last-of-type(1)) {
  border-right: 1px solid #cfa972;
}
.deposit-cont table td.color1 {
  font-size: 30px;
  font-weight: 700;
  color: #dc1000;
}

@media (max-width: 992px) {
  .main-body {
    background:url(../img/main-bg.png) repeat-y center top;
    background-color: #2e0541;
  }

  .act-info {
    width: 90%;
    height:auto;
    margin: 0 auto;
    padding: 0;
    font-size: 18px;
    background: none;
    -webkit-animation:none;
    -o-animation:none;
    animation:none;
  }
  .act-cont{
    width: 95%;
    margin: 40px auto;
  }
  .act-des{
    width: 100%;
  }
  .cont {
    width: 90%;
    margin: 0 auto;
  }
  .header {
    height: auto;
    background-size: 100%;
  }
  .main-body {
    height: auto;
    padding: 1px 0 0;
  }

  .title-cont h3 {
    font-size: 1rem;
  }
  .img-scale {
    width: 50%;
  }
  .prize-cont li{
    width: 48%;
    height: 225px;
  }
  .prize-cont li:nth-of-type(2n){
     margin-left: 2%;
  }
  .prize-cont li div{
    width: 100%;
  }
  .prize-cont li:nth-of-type(1) div>img{
       width: 80px;
     }
  .prize-cont li:nth-of-type(2) div>img{
    width: 100px;
  }
  .prize-cont li div img{
    width: 120px;
  }
  .rule-cont{
    width: 95%;
    height:auto;
    padding-bottom: 40px;
    margin: 0 auto;
    background: none;
  }
  #mymodal .modal-dialog{
    width: 94%;
    height:auto;
    margin-left:-47%;
    margin-top: -20%;
  }
  #mymodal .modal-content{
    padding: 70px 60px 20px;
    font-size: 18px;
  }
  .modal-footer{
    bottom: 85px;
  }
}
