@CHARSET "UTF-8";@import url("./reset.css");@import url("./mobile.css");/* reset========================================== */* {margin:0;padding:0;box-sizing:border-box;}
body {font-size:14px;color:#fff;line-height:24px;font-family:"Microsoft YaHei",Verdana,Arial;overflow-x:hidden;}
ul,li {list-style:none outside none;}
a {text-decoration:none;border:none;}
img {border:none;}
input {vertical-align:middle;}
table {border-collapse:collapse;}
/* common========================================== */.fl {float:left;}
.fr {float:right;}
.clearfix:after {content:".";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix {zoom:1;}
.container {width:1200px;margin:0 auto;}
.c-yellow {color:#ffc401;}
.c-yellow2 {color:#f0d787;}
.clear {zoom:1;}
.clear:after {content:"";display:block;clear:both;}
.row {padding:6px 15px;width:100%;display:block;}
.row [class*="col-"] {display:inline-block;}
.row .col-xs-4 {width:33%;}
input {vertical-align:middle;}
#loginModal * {box-sizing:content-box;}
#loginModal .forgetpassword {width:59px !important;}
/* body========================================== */body {background-color:#0c3f6d;background:url(../images/tenthousands-bg2.jpg) repeat;border-top:8px solid #af8d5f;}
.nav .logo,.nav .menu {float:left;}
.nav .login {float:right;}
.login li {display:inline-block;}
.logo {margin:8px 10px 0 0;}
.nav {height:100px;}
.nav .menu li {float:left;line-height:100px;}
.nav .menu li:hover,.nav .menu li.active {background:#af8d5f;color:#fff;}
.nav .menu li:hover a,.nav .menu li.active a {color:#fff;}
.nav .menu li a {color:#fff;display:block;height:100px;padding:0 10px;line-height:9;font-size:18px;line-height:100px;}
/* head========================================== */.top {background:rgba(26,40,86,0.6);width:100%;position:relative;z-index:10;}
.login li {display:inline-block;margin-top:12px;}
.login input {padding:20px 10px;font-size:18px;text-align:center;margin:10px 6px;cursor:pointer;border:0px;}
.login input:hover {opacity:.8;}
.login input#logBtn {background:#ffcc22;color:#000;}
.login input#regBtn {background:#333333;color:#fff;}
.title {position:relative;z-index:99;top:35px;left:280px;}
#footer {background:#e1e1e1;color:#0c3f6d;font-size:18px;text-align:center;padding:10px 0;}
#footer p,#footer p a {color:#0c3f6d;}
/* main-content========================================== */.nav-list {margin-top:416px;text-align:center;}
.nav-list .draw {width:380px;height:138px;background:url("../images/draw.png") no-repeat center;margin:0 auto;padding:6px 60px;font-size:18px;line-height:36px;}
.nav-list .draw a {display:block;color:#fff;}
.nav-list .draw strong {font-size:40px;margin-top:20px;margin-left:4px;}
.nav-list ul {text-align:center;margin:30px 0;}
.nav-list li {display:inline-block;width:206px;height:62px;margin:0 6px;border:1px solid #fff;padding:5px;}
.nav-list li.active a,.nav-list li:hover a {background-color:#063157;}
.nav-list li a {display:block;width:193px;height:50px;line-height:50px;font-size:28px;font-weight:normal;color:#fff;}
.item-box h2 {height:68px;line-height:68px;width:100%;background:url("../images/line.png") no-repeat center;text-align:center;font-size:40px;color:#fff;position:relative;}
.item-box h2 span {position:absolute;left:37px;top:-128px;display:block;width:831px;height:346px;background:url("../images/lingt.png") no-repeat;z-index:-1;}
.item-box h3 {padding:12px 0;}
.item-box .item-info {width:902px;margin:0 auto;text-align:center;}
.item-box .item-info p {font-size:19px;line-height:38px;padding-left:35px;text-align:left;}
.item-box .text-info {width:1071px;height:307px;background:url("../images/img-bg.png") no-repeat center;position:relative;margin:16px auto;padding:20px 95px;}
.item-box .text-img1 {position:absolute;top:-162px;left:-380px;}
.item-box .text-img2 {position:absolute;top:40px;right:-28px;}
.item-box .text-info-box p {height:40px;line-height:40px;font-size:22px;margin-top:6px;}
.item-box .text-info-box p strong {font-size:24px;}
.item-box .text-info-box p i {display:inline-block;background:url("../images/icons.png") no-repeat center;width:33px;height:40px;margin-right:18px;vertical-align:middle;}
.item-box .text-info-box .time i {background-position:0 0;}
.item-box .text-info-box .condition i {background-position:0 -43px;}
.item-box .text-info-box table {width:600px;margin:0 auto;padding:0 8px;}
.item-box .text-info-box thead th {line-height:40px;font-weight:normal;}
.item-box .text-info-box thead th:first-child {font-size:18px;}
.item-box .text-info-box thead th:first-child span {margin-left:-132px;}
.item-box .text-info-box thead th:last-child {position:relative;color:#ffd99a;}
.item-box .text-info-box thead th:last-child span {position:absolute;top:-10px;left:0;}
.item-box .text-info-box tbody {border:1px solid #fff;}
.item-box .text-info-box tbody tr:first-child td:not(.none-border) {border-bottom:1px solid #fff;}
.item-box .text-info-box tbody td {font-size:16px;padding:10px 0;}
.item-box .text-info-box tbody td:nth-child(2) {padding:0 6px;}
.item-box .text-info-box tbody td:nth-child(2) span {width:93px;height:26px;border-radius:20px;background-color:#c72078;display:inline-block;text-align:center;}
.item-box .text-info-box tbody td:nth-child(3) {color:#ffd99a;}
.item-box .text-info-box tbody td:nth-child(4),.item-box .text-info-box tbody td:nth-child(7) {color:#e7f500;font-weight:bold;}
.item-box .text-info-box tbody td:nth-child(5) {color:#fff2ff;}
.item-box .text-info-box tbody td:nth-child(6),.item-box .text-info-box tbody td:nth-child(8) {color:#e75a9e;}
.item-box .text-info-box tbody td:nth-child(8) {padding:0 6px;}
.process {width:1200px;height:500px;border-radius:10px;overflow:hidden;margin-top:20px;margin-bottom:50px;}
.process .process-box {width:100%;height:100%;background:url("../images/img-bg3.jpg") repeat;padding-top:33px;}
.process .process-box ol {width:950px;height:56px;border:2px solid #0c3f6d;margin:0 auto;}
.process .process-box ol li {float:left;background-color:#9e8f77;width:186px;text-align:center;height:52px;line-height:52px;margin-right:4px;}
.process .process-box ol li:last-child {margin-right:0;}
.process .process-box ol li.active {background-color:#0c3f6d;}
.process .process-box ol li span {display:inline-block;width:36px;height:36px;background-color:#0c3f6d;color:#fff;line-height:36px;text-align:center;margin-right:10px;border-radius:50%;}
.process .process-box ol li a {float:left;color:#fff;font-size:18px;width:100%;}
.process .step {width:1084px;height:374px;margin:0px auto;background-color:#0c3f6d;padding:20px 26px;}
.process .step-box {width:1030px;height:327px;border:1px solid #5c98cd;padding:15px 0;}
.process .step-box h4 {width:292px;height:44px;line-height:44px;border:1px solid #5c98cd;font-size:24px;margin:30px auto 10px;font-weight:normal;color:#5c98cd;}
.process .step-box p {width:292px;line-height:28px;font-size:16px;text-align:left;margin:0 auto;}
.process .step-box p span {color:#f6ff00;}
.process .step-item-fl {width:406px;height:298px;text-align:center;border-right:1px solid #5c98cd;position:relative;}
.process .step-item-fl .fl-line {display:block;height:100%;border-right:1px solid #0e2840;position:absolute;top:0;right:1px;}
.process .step-item-fl img {margin-top:10px;}
.process .step-item-fl .email {background-color:#225888;padding-left:5px;width:300px;}
.process .step-item-fr {height:298px;width:618px;padding:30px 0px;display:table-cell;text-align:center;vertical-align:middle;}
.process .step-item-fr img {vertical-align:middle;}
.rule-box {padding-bottom:150px;padding-top:20px;}
.rule-box p {line-height:40px;font-size:18px;}
section {position:relative;}
section .bg3 {position:absolute;z-index:-1;bottom:400px;width:100%;height:923px;background:url("https://dn-qiniucdn.qbox.me/tenthousands-bg3.jpg") no-repeat center;}
/*# sourceMappingURL=tenthousands.css.map */