html,
body {
  background: #1e1e20;
}

.content {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.flex {
  display: flex;
}

.flex-align {
  align-items: center;
}

/* header */

.headItem {
  width: 100%;
  height: 40px;
  background: #000;
}

.headItem .headcss {
  /* padding: 12px 20px; */
  justify-content: space-between;
  position: relative;
}

.headItem .headcss img {
  height: 38px;
}

.headcss .textItem {
  text-align: right;
}

.headcss .title {
  color: #fff;
  font-size: 14px;
  margin-right: 60px;
}


.headcss .btn {
  background: #2f2f2f;
  border: 1px solid #666;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  margin: 4px 8px;
  width: 98px;
  height: 30px;
  cursor: pointer;
  text-align: center;
  line-height: 30px;
}

/* banner */
.bodyItem .banner {
  width: 100%;
}

/* tabs */
.bodyItem .btns {
  justify-content: space-around;
}

.bodyItem .btns .btn {
  cursor: pointer;
}

/* time */
.bodyItem .time {
  color: #fff;
  font-size: 14px;
  margin: 20px auto;
}

/* circle */
.bodyItem .goTime {
  justify-content: space-around;
}

.bodyItem .goTime .cycle {
  background: url('../images/circle.png') no-repeat;
  background-size: cover;
  background-position: top center;
  width: 100px;
  height: 100px;
  /* height: 180px; */
  justify-content: center;
  cursor: pointer;
}

.bodyItem .goTime .cycle .cycleTitle {
  font-size: 20px;
  color: #fff;
  line-height: 1.2;
}

.bodyItem .goTime .cycle .cycleTime {
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  padding: 0 4px;
}

/* title */
.bodyItem .title {
  text-align: center;
  margin: 30px auto;
}

.bodyItem .title img {
  width: 60%;
}

/* mainItem */
.mainItem .cycleList {
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
}

.mainItem .cycleList .leftItem,
.mainItem .cycleList .rightItem {
  color: #fff;
  font-size: 16px;
}

/* table */
.mainItem .table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  margin: 20px auto;
}

.mainItem .table thead th {
  background: #a99358;
  border: 1px solid #000;
  font-size: 14px;
  color: #000;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.mainItem .table tbody td {
  background: #282828;
  border: 1px solid #000;
  font-size: 14px;
  color: #fff;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.mainItem .paginations {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #fff;
}

.mainItem .paginations .jumpbtn {
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  color: #000;
  cursor: pointer;
  background: #fff;

}


/* rulesItem */
.rulesItem {
  width: 100%;
  margin: 0 auto;
}

.rulesItem .tips {
  line-height: 1.5;
  padding: 0 10px;
  font-size: 14px;
  color: #fff;
  text-align: left;

}

/* login */
/* 弹窗 */
.layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 999;
}

.layer .toast {
  position: relative;
  background: #ffefd6;
  background-size: 100% 100%;
  width: 90vw;
  height: 70vh;
  border-radius: 4px;
}

.toast .info {
  text-align: center;
  padding-top: 80px;
}

.toast .info .inputs {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 20px;
}

.toast .info .inputs input {
  border: none;
  background: #e2c290;
  border-radius: 4px;
  width: 100%;
  height: 100%;
  color: #fff;
  font-size: 24px;
  text-indent: 20px;
  outline: 0;
}

.toast .info .inputs img {
  height: 50px;
  width: 30%;
  border-radius: 4px;
  cursor: pointer;
}

.toast .info p {
  color: #ff0201;
  font-size: 24px;
  margin: 30px 0 0;
}

.toast .info .btn {
  margin-top: 30px;
  transition: all 0.3s;
  cursor: pointer;
}

.toast .info .gift {
  -webkit-animation: pulse 0.5s linear infinite;
  -moz-animation: pulse 0.5s linear infinite;
  -o-animation: pulse 0.5s linear infinite;
  -ms-animation: pulse 0.5s linear infinite;
  animation: pulse 0.5s linear infinite;
}

.toast .info .btn:hover {
  transform: scale(1.1);
}

.toast .close {
  color: red;
  font-size: 18px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  right: 0;
  background: #ffefd6;
  top: -70px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.toast .close:hover {
  transform: scale(1.1);
}
